.title{
    color:rgb(252, 233, 63);
    text-shadow: rgb(226, 195, 109) 2px 2px 4px;
    border: 4px solid rgb(18, 43, 88);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 130px;
    padding-top: 130px;
    box-shadow: white 2px 2px 8px;
    background-image: url("https://t3.ftcdn.net/jpg/03/76/22/08/360_F_376220831_i1SlgOO1KwdappfuWebnCEH9eT002KVa.jpg");
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
}